<div class="container center">
  

    <h1>Travel Info</h1>

    <h2><%= @stop_num %></h2>
    
    <div class="journey">


<% @journey.each do |x| %>
<% x %>
<% end %>

<% @journey.each do |x| %>

<div class="stops">
 <h3><%= x.upcase %> </h3>
</div>

<% end %>

    
<!--       <h2><%= @journey.join().upcase %></h2> -->

    </div>  


</div>