<form action="/posts" method="post">
  <p>
    <label for="title">Post title:  </label>
    <input type="text" name="title">
  </p>

  <p>
    <label for="image_url">Image URL:  </label>
    <input type="text" name="image_url">
  </p>

  <p>
    <label for="content">Content:  </label>
    <textarea name="content"></textarea>
  </p>

  <button>Send Post</button>
</form>