<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA Hackneyed Planner</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="main.css">
  <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>


<header>
  <div class="title">
    <a href="./"><h1>MTA</h1>
    <h1>Hackneyed</h1>
    <h1>Planner</h1></a>
  </div>
</header>

 <div class="container">


  <%= yield %>

</div>

</body>
</html>