<h2>New Video</h2>

<form action="/memetube" method="post">
	<label for="">Title</label>
	<input type="text" name="title">
	<label for="">Description</label>
	<input type="text" name="description">
	<label for="">URL</label>
	<input type="text" name="url">
	<label for="">Genre</label>
	<input type="text" name="genre">

	<button>Create</button>
</form>