<h1>Mountains I have Climbed</h1>

<% @mountains.each do |mountain| %>

<p><%= link_to mountain.name, "/mountains/#{mountain.id}" %></p>

<%= image_tag(mountain.image_url, :alt => "") %></br>
  <%end%>

  <%= link_to 'new', "/mountains/new" %>

