<html>
<head>
  <title>Stock</title>
<link rel="stylesheet" type='text/css' href='/stylesheets/main.css'>
</head>
<body>
  <h1> Get ya Stocks aaawn!</h1>
  <%= yield %>
  <p>&copy; Codes n Codes</p>
</body>
</html>