<div class="box static">
  static
</div>

<div class="box relative">
  relative
</div>

<div class="box absolute">
  absolute
</div>

<div class="box overflow-hidden">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis incidunt sunt, iste doloremque consequatur fuga, recusandae saepe neque, nemo ullam numquam veniam laboriosam ab repudiandae porro blanditiis. Illum, placeat, quod.
</div>

<div class="box fixed">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus aliquam quidem iure quasi provident, facilis numquam consectetur veniam libero inventore repudiandae, asperiores at eius dolorum consequuntur voluptates porro deleniti sequi.
</div>

<div class="box absolute z-index1"></div>
<div class="box absolute z-index2"></div>
<div class="box absolute z-index3"></div>

<div class="box goldfish"></div>

<div class="box goldfish">
  <a href="http://ga.co" target="_blank">
    <img src="http://i.imgur.com/zKLK1I0.jpg" alt="nerds">
  </a>
</div>