<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Memetube</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href="styles.css" rel="stylesheet" media="all and (min-width: 520px) and (max-width: 700px)">
</head>
<body>

		<div class="logo_container">
			<a href="/"> <img src="/logo.png" alt="memetube_logo"> </a>
		</div>



		<div class="list">
			<ul>
			<li> <a href="/">All</a></li>
			<%  @genres.each do |genre|  %>
				<li>  <a href="/genre/<%= genre %>">  <%= genre %>  </a>   </li>
			<% end %>
			</ul>
		</div>



	
	<%= yield %>

</body>
</html>