<h2>Add Video</h2>


<div class="edit">
	<form action="/videos" method="post">
		<label for="">Name</label>
		<input type="text" name="name" id=""><br>
		<label for="">Video URL</label>
		<input type="text" name="video_url" id=""><br>
		<label for="">Description</label>
		<input type="text" name="description" id=""><br>
		<label for="">Genre</label>
		<input type="text" name="genre" id=""><br>

		<button>Add</button>
</div>

	

</form>