<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Memetube</title>
</head>
<body>
	<a href="/"><button>Home</button></a>
	<a href="/memetube/new"><button>New Video</button></a>
	<a href="/memetube/show"><button>Show All Videos</button></a>
	<form action="/memetube/genre" method="get">
		<label for="genre"></label>
		<select name="genre" id="">
		<% @genres.each do |genre| %>
			<option><%= genre %></option>
		<% end %>
		</select>
		<button>Select</button>
	</form>

	<%= yield %>

</body>
</html>