<div class="container">
  <h1>Book show</h1>

  <p><h2>Title: <%= @book.title %></h2></p>
  <p>Cuisine: <%= @book.cuisine %></p>
  <p><img src="<%= @book.image_url %>" alt=""></p>
  <a href="/books"><button class="btn btn-default">back</button></a>

  

</div>