<h1>All products</h1>

<% @products.each do |product| %>
  <p><%= product.name %></p>
  <p><%= link_to 'delete', product, :method => :delete, :data => { :confirm => 'are you sure?'} %></p>
<!--   product in the above line is equal to 'products/#{product.id}' -->
  <p><%= link_to 'show', product %></p>
  <p><%= link_to 'edit', edit_product_path(product) %></p> <!-- edit_product_path(product) is equal to [:edit, product] -->
<% end %>