<h1 class="box">Movie Search</h1>

<a href="/search"><img class="play_button" src="http://www.clipartbest.com/cliparts/zxi/gB9/zxigB9ycA.svg" width="200px" height="200px"></a>

<a class="box2" href="/about">About</a>
