<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="http://www.mta.info/sites/all/themes/mta/images/mta_info.gif" /> <!-- This does not work -->
	<title>MTA Subway System</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>

	<%= yield %>

</body>
</html>
