<h1>Mountains</h1>

<% @mountain.each do |mountain| %>
  <p><%= link_to mountain.name, "/mountains/#{mountain.id}" %></p>
  <p><img src="<%= mountain.image_url %>"></p>
<% end %>

<button><%= link_to 'New Mountain', "/mountains/new" %></button>