<div class="header">
<h1> </h1>
</div>
<% @videos.each do |video| %>

<div class="vids">
    <p><a href="/videos/<%= video['id'] %>"><%= video['title'] %></a></p>
    <p><%= video['description'] %></p>
    <% @id = video['url'].split('=') %>
    <iframe width="99%" height="315" src="//www.youtube.com/embed/<%= @id[1] %>" frameborder="0" allowfullscreen></iframe>
</div>



<% end %>
