<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memetube</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <h3>Meme-Tube</h3>
  <div class="genres">
    <ul>
    <li><a href="/">All</a></li>
      <% @genres.each do |genre| %>
      <li>
        <a href="/?genre=<%= genre %>"><%= genre %></a>
      </li>
      <% end %>
    </ul>
    <ul>
      <li><a href="/videos/new">Add New</a></li>
    </ul>
  </div>
</div>
  <%= yield %>
  <footer>&copy; WillRobWillRobRobWill</footer>
</body>
</html>