<h2>show details</h2>
  <div class="vids">
    <p><%= @video.title %></p>
    <p><%= @video.description %></p>
    <% @id = @video.url.split('=') %>
    <iframe width="99%" height="315" src="//www.youtube.com/embed/<%= @id[1] %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <p><a href="/videos/<%= @video.id %>/edit">Edit</a></p>