
<div class="home">
<h1>TMDB</h1>
<form action="/search_results" method="get">

<!--   <div class="input-group">
 -->    <label for="search">Search for:</label>
    <input type="search" name="search_string" placeholder="Film name"></input>
<!--   </div>
 --><button>Do Search Now</button>


 <!--  <div class="input-group">
  <label for="hotdogs">what style of hotdogs?</label>
<input type="text" name="hotdogs" id="hotdogs" placeholder="Australian">
</div>
  <div class="input-group">
  <label for="secret_password">Secret password:</label>
<input type="password" name="secret_password">
</div> -->

</form>
</div>
