@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Vollkorn', serif;
  background-color: #F8F5EF;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-style: italic;
}

nav {
  margin: 1em;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
}

a {
  text-decoration: none;
}
