<div id="container">

  <h1>This is retro Josh MDB and kind of like the back-end of a website, it's messy</h1>

  <h1><%= "You searched for #{@movie_hash["Title"]}" %></h1>

  <h2><%= "The movie was released in #{@movie_hash["Released"]}" %></h2>

  <p><%= "#{@movie_hash["Plot"]}" %></p>

  <img src="<%="#{@movie_hash["Poster"]}"%>">

</div>




