body {
  margin: 10%;
  min-width: 500px;
  margin: 0 auto;
  background-color: #222222;
}

.banner{
  background-color: #222222;
}

#content {
  max-width: 100%;
  position: relative;
  display: inline-block;
}

.navbar {
  width: 10%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  max-width: 800px;
}

button {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 10px auto;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888, #555);
  background: linear-gradient(#888, #555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

button:hover, button:focus {
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate {
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate {
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active {
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

.memetube_text {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font: #FFFFFF;
}

<!--
  <% @rows.each do |row| %>
    <p><a href="/videos/<%= row.id %>"><%= row.title %></a></p>

    <iframe  src="http://www.youtube.com/embed/<%= row.url.split("=")[1] %>" ></iframe></br>

  <%end%>
   -->