<%= form_for @book do |f|  %>

<div class="form-group">
  <label for=""><strong>Title</strong></label>
  <%= f.text_field :title, :class => 'form-control', :placeholder => 'your title' %>
</div>

<div class="form-group">
  <label for=""><strong>Cuisine</strong></label>
  <%= f.text_field :cuisine, :class => 'form-control' %>
</div>

<div class="form-group">
  <label for=""><strong>Image Url</strong></label>
  <%= f.text_area :image_url, :class => 'form-control' %>
</div>

 <button>Go</button>
<% end %>