<html>
<head>
  <title>Stock ticker.</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"></link>
</head>
<body>
  <h1>Stock ticker</h1>


<%= yield %>

<p>&copy; copyright gina - don't steal my code.</p>

</body>
</html>