<h1 class="box">Search for movies</h1>

<form class="centre" action="search_results">
	<label for="search"></label>
	<input type="text" name="search_string" placeholder="enter your movie here">

	<button class="box3">GO</button>
</form>

<a class="box2" href="/">Home</a>