<body class="home">
  <div class="content">
    <h1>MDB.</h1>

    <section>
      <form action="/search_results">
        <label for="search">S E A R C H : </label>
        <input id="box" type="search" name="search_string" placeholder="movie title">
        <button>Go</button>
      </form>
    </section>
  </div>
</body>