<div class="container">

  <div class="header">
    <h1>"Welcome to the M*T*E*R F*C*I*G MTA subway planner, B*T*C*H"</h1>
  </div>

  <form action="/route" method="get">

    <p class="titles">Which line do you wish to get on at?</p>

    <select name="line_got_on">
      <option value="n">Line N</option>
      <option value="l" >Line L</option>
      <option value="6" >Line 6</option>
    </select>

    <p class="titles">Which stop do you wish to get on at?</p>

    <select name="stop_got_on">
      <option value="times square">N Line: Times Square</option>
      <option value="34th" >N Line: 34th</option>
      <option value="n line 28th">N Line: 28th</option>
      <option value="23rd">N Line: 23rd</option>
      <option value="union_square">N Line: Union Square</option>
      <option value="8th">N Line: 8th</option>

      <option value="8th">L Line: 8th</option>
      <option value="6th">L Line: 6th</option>
      <option value="union square">L Line: Union Square</option>
      <option value="3rd">L Line: 3rd</option>
      <option value="1st">L Line: 1st</option>

      <option value="grand central">Line 6: Grand Central</option>
      <option value="33rd">Line 6: 33rd</option>
      <option value="line 6 28th">Line 6: 28th</option>
      <option value="23rd">Line 6: 23rd</option>
      <option value="union square">Line 6: Union Square</option>
      <option value="astor place">Line 6: Astor Place</option>

    </select>

    <p class="titles">Which line do you wish to get off at?</p>

     <select name="line_got_off">
      <option value="n">Line N</option>
      <option value="l" >Line L</option>
      <option value="6" >Line 6</option>
    </select>

    <p class="titles">Which stop do you wish to get on at?</p>

    <select name="stop_get_off">
      <option value="times square">N Line: Times Square</option>
      <option value="34th" >N Line: 34th</option>
      <option value="n line 28th">N Line: 28th</option>
      <option value="23rd">N Line: 23rd</option>
      <option value="union square">N Line: Union Square</option>
      <option value="8th">N Line: 8th</option>

      <option value="8th">L Line: 8th</option>
      <option value="6th">L Line: 6th</option>
      <option value="union square">L Line: Union Square</option>
      <option value="3rd">L Line: 3rd</option>
      <option value="1st">L Line: 1st</option>

      <option value="grand central">Line 6: Grand Central</option>
      <option value="33rd">Line 6: 33rd</option>
      <option value="l line 28th">Line 6: 28th</option>
      <option value="23rd">Line 6: 23rd</option>
      <option value="union square">Line 6: Union Square</option>
      <option value="astor place">Line 6: Astor Place</option>

    </select>

    <button>Send</button>

  </form>
</div>


