<form action="/" method="post">
  <input type="text" name="lalala">
  <input type="text" name="sunshine">
  <button>GO</button>
</form>

<h1><%= params.inspect %></h1>

<img src="/nothere.jpg" alt="">