

<% @result.each do |row| %>



<p><a href="/videos/<%= row['id'] %>"><%= row['title'] %></a></p>

<iframe width="560" height="315" src="//www.youtube.com/embed/<%= row['url'].gsub('https://www.youtube.com/watch?v=', "") %>" frameborder="0" allowfullscreen></iframe>

  <% end %>