<h2>New Video</h2>

<form action="/videos" method="post">
  <label for="">Title</label>
  <input type="text" name="title" required><br/>
  <label for="">Description</label>
  <input type="text" name="description"><br/>
  <label for="">URL</label>
  <input type="text" name="url" required><br/>
  <label for="">Genre</label>
  <input type="text" name="genre" required><br/>

  <button>Create</button>
</form>