<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Info Finder</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <a href="http://i.huffpost.com/gen/1433022/thumbs/o-ENDERS-GAME-MOVIE-SCENE-facebook.jpg"></a>
  <%= yield %>
</body>
</html>