body {
  font-family: Helvetica, Arial,Verdana,sans-serif;
  margin: 10% 10% 10% 10%;
  max-width: 100%;
  min-width: 400px;
}

h1 {
  width: 50%;
}


.form {
  background-color: black;
  padding: 25px 0 25px 25px;
  color: white;
}

.container {
  background-color: green;
  margin: 0 auto;
  max-width: 100%;
}

#left {
  /*text-align: left;*/
  background-color: red;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#right {
  /*text-align: right;*/
  background-color: yellow;
  display: inline-block;
  width: 49%;
}

img {
  text-align: left;
  /*max-width: 100%;*/
  max-height: 100%;
  width: 100%;
}
