
<div id="container">
	<h1>WHAT IS IT ABOUT?</h1>

	<form id="form" action="/results" method="get">
		<label for="movie">What is</label>
		<input type="search" name="search_movie" placeholder="this movie">
		<label for="movie">about?</label>
		<button>Find Out</button>

	</form>


	<h2><%= @title %> (<%= @year %>)</h2>

	<p><%= @plot %></p>

	<img src="<%= @poster %>">

</div>





