<div class="results_container">

	<div class="data">
	<h2><%= @title %> (<%= @year %>)</h2>
	<p><%= @plot %></p>
	</div>


	<div class="poster">
	<img src="<%= @poster %>">
	</div>

	<div class="home">
	<h1><a href="/">home</a></h1>
	</div>
	
</div>
