<p>Ask your question</p>

<%= form_tag '/car' do %>  
  <p>
    <label for="">Type your question</label>
    <input type="text">
  </p>
  <button>Shake the Eight Ball</button>
<% end %>




<!-- <form action="/car" method='post'>	
	<input type="text">
	<label for="">Type your question</label>
  <button>Shake the Eight Ball</button>
</form>
 -->

	<p><%= @result %></p>

