<%= form_tag '/secret_answer' do %>  
  <p>
		<select name="user_hand" id="user_hand">
			<option value="rock">Rock</option>
			<option value="paper">Paper</option>
			<option value="scissors">Scissors</option>
		</select>
		<button>HIT ME</button>
<% end %>


<br />
<br />
<br />

<!-- use this to show the reply.
 -->
<p><%= @user_hand %>:<%= @rps_result %> </p> 