<h1>Movie Search</h1>

<input type="text" id="search-box">

<button id='search-button'>Search</button>

<div id="output"></div>

<script>
	console.log('I only want this JavaScript to run on the index page');
</script>

<script type="text/template" id="movie-template">
	<article>
		<h2>Title: {{ title }}</h2>
		<p>Year: {{ year }}</p>
		<p>Internet Movie Database ID: {{ imdbID }}</p>
	</article>
</script>