

  <section class="movie-description">

  <a href="/">New Search</a>

  <h1><%= "You searched for #{@movie_hash["Title"]}" %></h1>

     <section class="feature-image">

    <img class="movie-poster" src="<%="#{@movie_hash["Poster"]}"%>">

  </section>

  <h2><%= "The movie was released in #{@movie_hash["Released"]}" %></h2>

  <p><%= "#{@movie_hash["Plot"]}" %></p>

  </section>






