body {
	text-align: center;
	font-family: 'Cutive Mono', ;	
	font-size: 14px;
	vertical-align: center;
	color: white;

}

.input-group {
	font-family: 'Cutive', serif;
	font-size: 16px;
	color: white;
	

}

.homeimg{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size: cover;
}

p {
	text-align: center;
	font-family: 'Cutive Mono', ;	
	font-size: 18px;
	vertical-align: center;
	color: white;

}

a{
	font-family: 'Cutive', serif;
	font-size: 40px;
	color: white;
}