

<div class="container">
<header>
  <h1 class="center">Movies</h1>
</header>

<div class="center">
  <p class="horizontal_dif">Look one up?</p>
  <a href="/forms"><button class="btn btn-lg btn-info">yes</button></a>
</div>
</div> 


