body {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSw_Wy9ElbeQMSwkzz0WStWu3dE9dxUkpAE7FVwiZXMVSSU7EdSJg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  font-style: 
}
header {
  background: rgba(1,1,1,0.1);
  text-align: center;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  color: blue;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  color: #fff;
}
a {
  color: #fff;
  font-size: 1.3em;
}
a:hover {
  background-color: black;
}
.container {
  text-align: center;
  width: 750px;
  margin: 0 auto;
}
.youtube {
  margin-top: 4em;
}
.btn-primary {
  color: orange;
  background-color: #333;
  border: none; 
}
