
<div class="container">
  <h1 class="center">Movies</h1>
    <section class="center">

      <form action="/show_movie_result" method="get">
        <div class="form-group">
          <input type="search" name="site_search" placeholder="search a movie" class="form-control horizontal">
        </div>
        <button class="btn btn-lg btn-info">search</button>
      </form>

    </section>
</div>  





