<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MemeTube</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

<div class="container">

  <%= yield %>

  <footer>&copy; Josh - it's a rubbish idea anyway :)</footer>

</div>
</body>
</html>