<h2>New</h2>

<form action="/dishes" method="post">
<label for="">Name</label>
<input type="text" name="name"><br/>
<label for="">Image URL</label>
<input type="text" name="image_url">
<label for="">Meal Type</label>
<input type="text" name="meal_type_id"><br/>

<button>Send</button>
</form>