<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MTA LAB</title>

	<link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
	
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>


</head>
<body>
	
	<img class="homeimg" src="station.jpg">


<%= yield %>


</body>
</html>