<div id="container">
  <div id="sidebar">
    <li>
      <div id="newQuote"><input type="text"><button>Send</button></div>
    </li>
    <ul>
    </ul>
  </div>

  <div id="quote"><!--
  --><div>
      <p>asdfghj</p>
    </div>
  </div>
</div>