
  <h2>Oops. their's more than One film by that name, which one did you want?</h2>

<img src="<%= @poster %>">
<a href="/"><button>Return to Search</button></a>
<% @display.each do |movie| %>
<h2><a href="/final_film/<%= movie["imdbID"] %>"><%=  movie["Title"]  %></a></h2>
 <% end %>

<!--  <%= @display %>
 -->

