
  <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Josh<span>MDB</span></div>
    </div>
    <br>
    <div class="login">
      <form action="/search_list" method="get">
        <input type="text" placeholder="Search Movie Database" name="site_search"><br>
        <button class="white">Search</button>
        </form>
    </div>