  <div class="content cols">

    <% @rows.each do |row| %>

      <p><a href="/videos/<%= row.id %>" class="tag"><%= row.title %></a></p>

      <iframe  src="http://www.youtube.com/embed/<%= row.url.split("=")[1] %>" ></iframe></br>
    <%end%>

  </div>


