<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memetube</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="banner">
    <a href="/" class="memetube_text">Memetube</a>

      <div class="filter-category">

        <a href="/" class="submit-video">
              <fieldset>
                <legend>Add Video</legend>
                <button type="submit" class="pure-button pure-button-primary">Add</button>
              </fieldset>
        </a>

        <form class="pure-form pure-form-stacked" action="/videos/genre" method="get">
                <fieldset>
                  <div class="choose-genre">
                    <legend>Filter on Category</legend>

                    <select name="genre" id="">
                      <% @genres.each do |genre|  %>
                      <option name = "<%= genre %>"><%= genre%></option>
                      <%end%>
                    </select></br>

                    <button type="submit" class="pure-button pure-button-primary">Select</button>
                  </div>
                </fieldset>
        </form>
      </div>
  </div>

  <div class="main">
   <%= yield %>
   </div>



  <footer>&copy; Memetube memetube memetube</footer>

</body>
</html>