


<div class="container">

<form id='input' action='/journey_details' method='get'>

	<h2>Create your Journey</h2>

	<p>LINE to get ON:</p>
		
			<div class="lines">
				<input type='radio' id='line_on' name='line_on' value='N'>
					<label for='line_on' name='line_on'>N</label>
				<input type='radio' id='line_on' name='line_on' value='L'>
					<label for='line_on' name='line_on'>L</label>
				<input type='radio' id='line_on' name='line_on' value='6'>
					<label for='line_on' name='line_on'>6</label>
			</div>

	<p>STOP to get ON:</p>
	<div class='stops'>
	<p>Line N Stops</p>

		<input type='radio' id='stop_on' name='stop_on' value='Times Square'>
			<label for='stop_on' name='stop_on'>Times Square</label><br>
		<input type='radio' id='stop_on' name='stop_on' value='34th'>	
			<label for='stop_on' name='stop_on'>34th</label><br>
		<input type='radio' id='stop_on' name='stop_on' value='28th(N)')>
			<label for='stop_on' name='stop_on'>28th on N</label><br>
		<input type='radio' id='stop_on' name='stop_on' value='23rd(N)'>
			<label for='stop_on' name='stop_on'>23rd on N</label><br>
		<input type='radio' id='stop_on' name='stop_on' value='Union Square'>
			<label for='stop_on' name='stop_on'>Union Square</label><br>
		<input type='radio' id='stop_on' name='stop_on' value='8th(N)'>
			<label for='stop_on' name='stop_on'>8th on N</label><br>
	</div>	

	<div class="stops">
		<p>Line L Stops</p>
		
			<input type='radio' id='stop_on' name='stop_on' value='8th(L)'>
				<label for='stop_on' name='stop_on'></label>8th on L<br>
			<input type='radio' id='stop_on' name='stop_on' value='6th'>
				<label for='stop_on' name='stop_on'></label>6th<br>
			<input type='radio' id='stop_on' name='stop_on' value='Union Square'>
				<label for='stop_on' name='stop_on'></label>Union Square<br>
			<input type='radio' id='stop_on' name='stop_on' value='3rd'>
				<label for='stop_on' name='stop_on'></label>3rd<br>
			<input type='radio' id='stop_on' name='stop_on' value='1st'>
				<label for='stop_on' name='stop_on'></label>1st<br>
	</div>

	<div class="stops">
		<p>Line 6 Stops</p>
			
			<input type='radio' id='stop_on' name='stop_on' value='Grand Central'>
				<label for='stop_on' name='stop_on'></label>Grand Central<br>
			<input type='radio' id='stop_on' name='stop_on' value='33rd'>
				<label for='stop_on' name='stop_on'></label>33rd<br>
			<input type='radio' id='stop_on' name='stop_on' value='28th(6)'>
				<label for='stop_on' name='stop_on'></label>28th on 6<br>
			<input type='radio' id='stop_on' name='stop_on' value='23rd(6)'>
				<label for='stop_on' name='stop_on'></label>23rd on 6<br>
			<input type='radio' id='stop_on' name='stop_on' value='Union Square'>
				<label for='stop_on' name='stop_on'></label>Union Square<br>
			<input type='radio' id='stop_on' name='stop_on' value='Astor'>
				<label for='stop_on' name='stop_on'></label>Astor<br>
	</div>




	<p>LINE to get OFF:</p>
		<div class="lines">
			<input type='radio' id='line_off' name='line_off' value='N'>
				<label for='line_off' name='line_off'>N</label>
			<input type='radio' id='line_off' name='line_off' value='L'>
				<label for='line_off' name='line_off'>L</label>
			<input type='radio' id='line_off' name='line_off' value='6'>
				<label for='line_off' name='line_off'>6</label>
		</div>


	<p>STOP to get OFF:</p>

<div class='stops'>
	<p>Line N Stops</p>

		<input type='radio' id='stop_off' name='stop_off' value='Times Square'>
			<label for='stop_off' name='stop_off'>Times Square</label><br>
		<input type='radio' id='stop_off' name='stop_off' value='34th'>	
			<label for='stop_off' name='stop_off'>34th</label><br>
		<input type='radio' id='stop_off' name='stop_off' value='28th(N)'>
			<label for='stop_off' name='stop_off'>28th on N</label><br>
		<input type='radio' id='stop_off' name='stop_off' value='23rd(N)'>
			<label for='stop_off' name='stop_off'>23rd on N</label><br>
		<input type='radio' id='stop_off' name='stop_off' value='Union Square'>
			<label for='stop_off' name='stop_off'>Union Square</label><br>
		<input type='radio' id='stop_off' name='stop_off' value='8th(N)'>
			<label for='stop_off' name='stop_off'>8th on N</label><br>
</div>


	<div class="stops">
		<p>Line L Stops</p>
		
			<input type='radio' id='stop_off' name='stop_off' value='8th(L)'>
				<label for='stop_off' name='stop_off'></label>8th on L<br>
			<input type='radio' id='stop_off' name='stop_off' value='6th'>
				<label for='stop_off' name='stop_off'></label>6th<br>
			<input type='radio' id='stop_off' name='stop_off' value='Union Square'>
				<label for='stop_off' name='stop_off'></label>Union Square<br>
			<input type='radio' id='stop_off' name='stop_off' value='3rd'>
				<label for='stop_off' name='stop_off'></label>3rd<br>
			<input type='radio' id='stop_off' name='stop_off' value='1st'>
				<label for='stop_off' name='stop_off'></label>1st<br>
	</div>

	<div class="stops">
		<p>Line 6 Stops</p>
			
			<input type='radio' id='stop_off' name='stop_off' value='Grand Central'>
				<label for='stop_off' name='stop_off'></label>Grand Central<br>
			<input type='radio' id='stop_off' name='stop_off' value='33rd'>
				<label for='stop_off' name='stop_off'></label>33rd<br>
			<input type='radio' id='stop_off' name='stop_off' value='28th(6)'>
				<label for='stop_off' name='stop_off'></label>28th on 6<br>
			<input type='radio' id='stop_off' name='stop_off' value='23rd(6)'>
				<label for='stop_off' name='stop_off'></label>23rd on 6<br>
			<input type='radio' id='stop_off' name='stop_off' value='Union Square'>
				<label for='stop_off' name='stop_off'></label>Union Square<br>
			<input type='radio' id='stop_off' name='stop_off' value='Astor'>
				<label for='stop_off' name='stop_off'></label>Astor<br>
	</div>
	


		<button>Generate Journey</button>

</form>

</div>

		
