body {
  font-family: 'Vollkorn', serif;
  background-color: rgb(255, 65, 77);

}

body a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.container {
  max-width: 800px;
margin: 0 auto;
}

h1 {
font-size: 6em;
line-height: .85em;
}

h1 span {
  color: white;
}

.nav {
  padding: none;
  width: 100%;
}

.nav ul {
  text-decoration: none;
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

ul li {


}


