<h1>Index of existing ingredients</h1>

<% @ingredients.each do |ingredient|%>
<p><%= ingredient.name %></p>

<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'New Ingredient', new_recipe_path %>