
<div class="home">
<h1>Form</h1>
<p>Welcome to your Journey Planner, Dear Sir or Madam</p>
<p>Select below where you'd like to journey afar</p>
<form action=""></form>
<select name="" id=""></select>

</div>
