<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type='text/css' href='/stylesheets/normalize.css'>
<link rel="stylesheet" type='text/css' href='/stylesheets/style.css'>

<head>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <title>MTA</title>
</head>
<!-- <meta charset="UTF-8"> -->

<body>
  <div class="home">

<%= yield %>
</div>

</body>
</html>