<body>
  <div class="containter">
    <h1>MTA</h1>
    <h2 class="home">J O U R N E Y  M A P P E R</h2>

    <form action="/journey_map">
      <div class="input">
        <label for="current_stop_menu">select current stop: </label>
        <select name="current_stop" id="current_stop_menu">
          <option value="Astor">Astor</option>
          <option value="Grand Central">Grand Central</option>
          <option value="6.33rd">Line 6 : 33rd</option>
          <option value="6.28th">Line 6 : 28th</option>
          <option value="6.23rd">Line 6 : 23rd</option>
          <option value="L.1st">Line L :  1st</option>
          <option value="L.3rd">Line L : 3rd</option>
          <option value="L.6th">Line L : 6th</option>
          <option value="L.8th">Line L : 8th</option>
          <option value="N.8th">Line N : 8th</option>
          <option value="N.23rd">Line N : 23rd</option>
          <option value="N.28th">Line N : 28th</option>
          <option value="N.34th">Line N : 34th</option>
          <option value="Times Square">Times Square</option>
          <option value="Union Square">Union Square</option>
        </select>
      </div>

      <div class="input">
        <label for="destination_menu">select destination: </label>
        <select name="destination" id="destination_menu">
          <option value="Astor">Astor</option>
          <option value="Grand Central">Grand Central</option>
          <option value="6.33rd">Line 6 : 33rd</option>
          <option value="6.28th">Line 6 : 28th</option>
          <option value="6.23rd">Line 6 : 23rd</option>
          <option value="L.1st">Line L :  1st</option>
          <option value="L.3rd">Line L : 3rd</option>
          <option value="L.6th">Line L : 6th</option>
          <option value="L.8th">Line L : 8th</option>
          <option value="N.8th">Line N : 8th</option>
          <option value="N.23rd">Line N : 23rd</option>
          <option value="N.28th">Line N : 28th</option>
          <option value="N.34th">Line N : 34th</option>
          <option value="Times Square">Times Square</option>
          <option value="Union Square">Union Square</option>
        </select>
      </div>

      <button>Go</button>
    </form>
  </div>
</body>