<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MemeTube</title>
</head>
<body>
  <%= yield %>

  <footer>&copy; Josh - it's a rubbish idea anyway :)</footer>
</body>
</html>