<html>
	<head>

		<title> prevent strangers from hacking your password!</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"> 

	</head>

	<body>
		<h1>Emergency password checker</h1>
		<p> This is a SECURE site! </p>

		<%= yield %>

		<p> copyright</p>

	</body>
</html>