body {
  background: #677b8c;
  font-family: 'Open Sans', sans-serif;
}
nav {
  background: rgba(1,1,1,0.2);
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 998;
}
p img {
  width: 400px;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #414a59;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.empty {
  margin-top: 100px;
}
.btn:hover {
  background-color: #e8440d;
}
.margintop {
  height: 120px;
}
.main-wrapper {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.col-md-4:nth-child(3n+1){
  clear: left;
}
.thumbnail {
  background-color: #ced7dd;
  border-color: #52626f;
}
.wrapper {
  margin: 0 auto;
  text-align: center;
}
.home {
  margin-top: 50px;
}
#logo {
  position: fixed;
  margin-top: 0.7em;
  margin-left: 3em;
  z-index: 999;
  transition-property: margin-left;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#logo:hover {
  margin-left: 4em;
}
#post_btn {
  float: right;
  margin-top: 2em;
  margin-right: 2em;
  background: rgb(243,113,33);
  color: white;
  transition-property: margin-right, background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#post_btn a {
  color: white;
}
#post_btn a:hover {
  font-style: none;
}
#post_btn:hover {
  background: #f20909;
    margin-right: 3em;  
}
.btn-default {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.btn:hover {
  background-color: #f20909 ;
}