<!-- require 'sinatra' -->

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The best in ecards">
    	<meta name="keywords" content="Ecards, comedy, gifts">
		<title>Ecard.ly | The Best in Ecards</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
    <header>
      <img src="logo.png">
    </header>
    <div class="content" id="main">
      <h1>Ecard of the day</h1>
      <img src="ecard-nycstartups.jpg">
      <article>Quis qui Carles, mlkshk hella beard irony Cosby sweater American Apparel Kickstarter McSweeney's vero est aliquip. Flexitarian VHS messenger bag, eiusmod swag chambray pickled literally sriracha delectus sed cred incididunt. Quinoa Thundercats elit non, raw denim +1 PBR&B post-ironic keytar. Irure sriracha ennui placeat elit scenester shabby chic excepteur. Cred sriracha mustache direct trade, adipisicing YOLO proident authentic Banksy. You probably haven't heard of them cardigan Helvetica retro elit lomo. VHS cornhole excepteur, nulla vero slow-carb small batch dolor mollit. <a href="www.google.com">DOWNLOAD</a>
      <p class="foot">Posted by <a href="google.com">Steve Smith</a> on August 2, 212 / Comments <a href="google.com">(3)</a></p>
      </article>
      <h1>Doing The Big Work</h1>
      <img src="ecard-courage.jpg">
      <article>Quis qui Carles, mlkshk hella beard irony Cosby sweater American Apparel Kickstarter McSweeney's vero est aliquip. Flexitarian VHS messenger bag, eiusmod swag chambray pickled literally sriracha delectus sed cred incididunt. Quinoa Thundercats elit non, raw denim +1 PBR&B post-ironic keytar. Irure sriracha ennui placeat elit scenester shabby chic excepteur. Cred sriracha mustache direct trade, adipisicing YOLO proident authentic Banksy. You probably haven't heard of them cardigan Helvetica retro elit lomo. VHS cornhole excepteur, nulla vero slow-carb small batch dolor mollit. <a href="www.google.com">DOWNLOAD</a>
      <p class="foot">Posted by <a href="google.com">Steve Smith</a> on August 2, 212 / Comments <a href="google.com">(3)</a></p>
      </article>
    </div>
    <div class="content" id="sidebar">
      <h4>Archive</h4>
        <ul class="menu1">
          <li>January</li>
          <li>February</li>
          <li>March</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li>July</li>
        </ul>
      <h4>Blogroll</h4>
        <ul class="menu2">
          <li>Mailchimp</li>
          <li>Shopify</li>
          <li>The Next Web</li>
          <li>Mint.com</li>
          <li>Mashable</li>
        </ul>
      <img src="ad-cut-and-paste.gif">
      <img src="ad-postcard-tee.png">
      <img src="ad-submit-your-own.png">
    </div>
    <footer>
      <img src="social-icon-facebook.png">
      <img src="social-icon-twitter.png">
      <img src="social-icon-pinterest.png">
    </footer>
	</body>
</html>