<input type="text" id="search-box"> 
<button id="search-button">Search!</button>

<!-- <p id="search-results"></p>
<p id="title"></p>
<p id="year"></p>
<p id="director"> </p>
<p id="plot"></p>
<img src="" id="poster"> -->

<script type="text/template" id="movie-template">
	<h3> Title: {{ title }} </h3>
	<p> Year: {{year}}</p>

</script>



<div id="output"></div>
