

  <h1>Your search results:</h1>

  <section class="movie-description">

   <% @movies.each do |movie|  %>
  <a href="/index/<%= movie["Title"] %>"><%= movie["Title"] %> <br></a>
  <%   end   %>

  </section>

  <section class="feature-image">

  </section>





