<div id="container">

    <div>
      <h1>TODOR v2.0</h1>
    </div>

  <div id="sidebar">
    <div id="newTask">
      <input type="text">
      <button>Submit</button>
    </div>

    <ul>
    </ul>
  </div><!--
--><div id="task">
    <div>
      <p></p>
    </div>
  </div>

</div>