

<div class="container">

  

  <div class="books">
    <a href="/books"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHkp76Ugg91GLOZn5S9k_nI9k8l4_HPx9-maa6J46klJ9gTH45pA" alt=""></a>
    <p><%= link_to 'new book', new_book_path %></p>
  </div>
  <div class="recipes">
    <a href="/recipes"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSMnFsvhv8J7sRIRR9lyaDO3z-GNHtb2OFUX5GvzEv_0vxoKqaKgw" alt=""></a>
    <p><%= link_to 'new recipe', new_recipe_path %></p>
  </div>
  


</div>