alternate new.html.erb
<%= form_for @products do |f| %>

<p>
  <label for="">Name</label>
  <%= f.text_field_tag :name %>
</p>

<p>
  <label for="">Price</label>
  <%= f.text_field_tag :price %>
</p>

<p>
  <% categories = ['weapon', 'stuff', 'cool stuff']%>
  <label for="">Category</label>
  <%= f.select :category,  @category%> <!--Could also replace @category with Category.all-->
</p>

 <button>Go</button>
<% end %>